/* table's first part css */
.form-border {
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
/* .left-border {
    border-right: 1px solid;
} */

/* Name and input Css */
.input-width {
    width: 66.6%;
}


/* .input-widthEmlail {
    width: 70%;
    margin: 0;
} */


.input-width-check {
    margin-left: 10px;
}

.form-border-check{
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid
}

.form-border-contact {
    border-bottom: 1px solid;
    border-left: 1px solid;
}


.form-border-message {
    border-bottom: 1px solid;
    border-left: 1px solid;
}
.form-border-telephone {
    border-bottom: 1px solid;
    border-left: 1px solid;
}
.form-border-email{
    border-bottom: 1px solid;
    border-left: 1px solid;
}

.form-border-first {
    border-bottom: 1px solid;
    border-left: 1px solid;
}
.form-border-name {
    border-bottom: 1px solid;
    border-left: 1px solid;
}
.form-border-type {
    border-left: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 0.5px solid;
}